.header {

    /* color: rgb(0, 0, 0); */
    font-weight: bold;
    font-size: 15px;
    margin-left: 1%;

}

body {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #373a63;
    color: #ffffff;

}

input {

    background-color: #63679c;
    color: #ffffff;

}

button {

    text-align: right;
    padding: 8px;
    cursor: pointer;
    background-color: #373a63;
    vertical-align: top;
    color: rgb(255, 255, 255); 
    border-color: rgb(158, 158, 158);
    border-radius: 3px;
    border-style: solid;

}

.buttonc {

    margin-left: 65%;

}

.buttoni {

    margin-left: 2%;

}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #373a63;
    color: rgb(255, 255, 255); 
    border-color: rgb(158, 158, 158);
    border-radius: 3px;
    border-style: solid;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}